// Fonts -----------------------------------------------------------
$font-size: 13px;
$font-family-body: 'Avenir', Helvetica, Arial, sans-serif;
$font-family-heading: 'Helvetica Neue', Helvetica, sans-serif;

// Colours ---------------------------------------------------------
$primary-colour: #ed2124;
$colour-body: #999;
$colour-heading: #fff;
$colour-link: rgb(8, 138, 252);

$colour-default: #777;
$colour-primary: #3498DB;
$colour-success: #CBE24A;
$colour-action: #FFC43A;
$colour-danger: #CE1735;

// Layout variables ------------------------------------------------
$margin-bottom: 10px;

// Background variables ---------------------------------------------
$background-height: 830px;
$background-color: #3c3c3c;
